<!-- FLIGHT SECTION-->
<section id="home-gallery-sec">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <!-- SEARCH SECTION-->
        <section id="home-search-sec">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <form #myForm="ngForm" novalidate autocomplete="off">
                  <div class="row">
                    <div class="col-xs-6">
                      <label>Departure From</label> <br />
                      <input class="form-control" [(ngModel)]="flightFrom" name="flightFrom" type="text" title="From" placeholder="From" maxlength="32"
                        required/>
                    </div>
                    <div class="col-xs-6">
                      <label>Arrival To</label> <br />
                      <input class="form-control" [(ngModel)]="flightTo" name="flightTo" type="text" title="To" placeholder="To" maxlength="32"
                        required/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <h4 class="sortBy">
                        <span class="fa fa-sort-amount-asc" [class.hidden]="airportFlights.length === 0"></span> 
                        <span [class.hidden]="airportFlights.length === 0">Sort By:</span>
                        <button type="button" [class.hidden]="airportFlights.length === 0"  (click)="SortAirportFlights()" [class.btn-primary]="!sortBy" class="btn btn-default btn-sm"><span class="fa fa-usd"></span> Price</button>
                        <button type="button" [class.hidden]="airportFlights.length === 0" (click)="SortAirportFlights()" [class.btn-primary]="sortBy" class="btn btn-default btn-sm"><span class="fa fa-clock-o"></span> Depart</button>
                        <button type="button" (click)="filterAirportFlights()" class="searchBtn btn btn-success pull-right btn-sm"><span class="fa fa-search"></span> Search</button>
                      </h4>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <br />
        <!--END SEARCH SECTION-->

        <!-- SEARCH RESULTS SECTION-->
        <section id="home-search-results-sec">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-default" *ngFor="let airLine of airportFlights" [class.hidden]="airportFlights.length === 0">
                  <div class="panel-heading">
                    <h4>
                      <span class="alkColor fa-2x"><span class="fa fa-plane"></span> Aero Airlines <small>Flight #{{airLine.FlightNumber}}</small></span>
                      <a class="pull-right" title="View {{ airLine.FlightNumber }} Price" routerLink="details/{{ airLine.FlightNumber }}">View</a>
                    </h4>
                  </div>
                  <div class="panel-body">
                    <span class="fa-2x">
                      <span>
                        <span class="fa fa-certificate alkColor"></span> &nbsp;
                    <small class="flightime">
                          <span class="fa fa-clock-o alkColor"></span>
                          <span>&nbsp;{{airLine.Departs}}</span>
                        </small>
                    <br /> {{ getAirportName(airLine.From) }} [{{airLine.From}}]
                    </span>
                    </span>

                    <br />
                    <span class="fa fa-arrow-down alkColor fa-2x"></span>

                    <br />
                    <span class="fa-2x">
                      <span class="alkColor">
                        <span class="fa fa-certificate colorGreen"></span> &nbsp;
                    <small class="flightime">
                          <span class="fa fa-clock-o colorGreen"></span>
                          <span>&nbsp;{{airLine.Arrives}}</span>
                        </small>
                    <br /> {{ getAirportName(airLine.To) }} [{{airLine.To}}]
                    </span>
                    </span>                   
                  </div>
                </div>
                <div class="alert alert-info fade in" [class.hidden]="airportFlights.length > 0">
                    <strong>Oops!</strong> No flights found for the below search
                  </div>
              </div>
            </div>
          </div>
        </section>
        <!--END SEARCH RESULTS SECTION-->

      </div>
    </div>
  </div>
</section>
<!--END FLIGHT SECTION-->