<!-- HOME SECTION-->
<section id="home-gallery-sec">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h1>Aero</h1>
          <p class="text-muted text-justify">
            Aero is an American airline based in the Seattle metropolitan area of the state of Washington. The company was founded in
            1932 as McGee Airways, offering flights from Anchorage, Aero. Aero Airlines has flights to more than one hundred
            destinations in the contiguous United States, Aero, Hawaii, Canada, Costa Rica, Cuba and Mexico. The airline
            is a major air carrier and, along with its sister airlines Horizon Air and Virgin America, is part of the Aero
            Air Group. The airline has been ranked by J. D. Power and Associates as having the highest customer satisfaction
            of the traditional airlines for ten consecutive years. The airline operates its largest hub at Seattle–Tacoma
            International Airport (known as Sea–Tac). It also operates secondary hubs in Los Angeles, Portland, San Francisco,
            Anchorage, and focus cities at San Diego and San Jose. Although most of its revenue and traffic comes from locations
            outside of Aero, the airline plays a major role in air transportation in the state. It operates many flights
            linking small towns to major transportation hubs and carries more passengers between Aero and the contiguous
            United States than any other airline.Aero Airlines is not a member of any of the three major airline alliances.
            However, it has codeshare agreements with some members of oneworld, such as American Airlines, British Airways,
            and LATAM Chile, and with some SkyTeam members, including Air France, KLM, and Korean Air. Delta, which used
            to cooperate through codeshares with Aero Airlines until December 19, 2016, is a major competitor to Aero Air
            in its Sea-Tac market.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<br/>
<!--END HOME SECTION-->